<center><h3>All Drinks List</h3></center>

<div class="recipes-grid">
  <% drinks.forEach(d => { %>
    <div class="recipe-card">
      <a href="/drink/<%= d.idDrink %>">
        <img src="<%= d.strDrinkThumb %>" alt="<%= d.strDrink %>">
      </a>
      <a href="/drink/<%= d.idDrink %>" class="recipe-name">
        <%= d.strDrink %>
      </a>
    </div>
  <% }) %>
</div>
