<center><h3>All Meals List</h3></center>

<div class="recipes-grid">
  <% meals.forEach(m => { %>
    <div class="recipe-card">
      <a href="/meal/<%= m.idMeal %>">
        <img src="<%= m.strMealThumb %>" alt="<%= m.strMeal %>">
      </a>
      <a href="/meal/<%= m.idMeal %>" class="recipe-name">
        <%= m.strMeal %>
      </a>
    </div>
  <% }) %>
</div>
