<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results for "<%= q %>"</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body style="margin-left: 20px;">
  <%- include("partials/header") %>
  <p style="font-size: 30px; font-weight: bold; background-color: rgba(0, 0, 0, 0.4);
    margin: 20px 0; padding: 5px; border-radius: 8px;"><u>Search Results for "<%= q %>":</u></p>

  <% if (foundMeal || foundDrink) { %>

      <% if (foundMeal) { %>
         <p style="color: rgb(0, 255, 0); font-size: 20px; background-color: rgba(0, 0, 0, 0.2); border-radius: 8px; padding: 3px; margin: 20px 0;">Matched Meal:</p>
         <div class="recipe-card" style="padding: 5px;  margin-bottom: 20px; justify-content: flex-start; width: 150px;">
      <a href="/meal/<%= foundMeal.idMeal %>">
        <img src="<%= foundMeal.strMealThumb %>" alt="<%= foundMeal.strMeal %>">
      </a>
      <a href="/meal/<%= foundMeal.idMeal %>" class="recipe-name">
        <%= foundMeal.strMeal %>
      </a>
    </div>
     <% } %>

      <% if (foundDrink) { %>
         <p style="color: rgb(0, 255, 0); font-size: 20px; background-color: rgba(0, 0, 0, 0.2); border-radius: 8px; padding: 3px; margin: 20px 0;">Matched Drink:</p>
         <div class="recipe-card" style="padding: 5px;  margin-bottom: 20px; justify-content: flex-start; width: 150px;">
      <a href="/drink/<%= foundDrink.idDrink %>">
        <img src="<%= foundDrink.strDrinkThumb %>" alt="<%= foundDrink.strDrink %>">
      </a>
      <a href="/drink/<%= foundDrink.idDrink %>" class="recipe-name">
        <%= foundDrink.strDrink %>
      </a>
    </div>
      <% } %>

  <% } else { %>
     <p style="color: red; font-size: 20px; background-color: rgba(0, 0, 0, 0.2); border-radius: 8px; padding: 3px;">No exact matches found for "<%= q %>".</p>
  <% } %>
  <hr>
  <!-- ALWAYS show meal + drink list -->
  <div style="background-color: rgba(0, 0, 0, 0.2); padding: 10px;">
    <h2><b><u><center>Available Meals and Drinks:</center></u></b></h2>
    <div class="lists-wrapper">
     <div class="meals-drinks-list-container">
       <%- include("partials/meals-list", { meals }) %>
      </div>

      <div class="meals-drinks-list-container">
       <%- include("partials/drinks-list", { drinks }) %>
      </div>
    </div>
  </div>

</body>
</html>